*{
    margin: 0;
    padding: 0;
    font-size: 110%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
 .conteiner{
    width: 100%;
    height: 100vh
 }
.left{
    background-image: linear-gradient(to right,#94EED8 ,#DEFFE4);
    width: 20.629166666666668%;
    height: 100vh;
    float: left;
}
.main{
    background-color: #DEFFE4;
    width: 58.69993333333332%;
    height: 100vh;
    float: left;

}
.right{
    background-image: linear-gradient(to left,#94EED8 ,#DEFFE4);
    width: 20.629166666666668%;
    height: 100vh;
    float: right;
}
.nav{
    background-color: #3E6A1C;
    width: 58.54583333333333;
    height: 107px;
}
#plan{
    background-color: #BDFF9A;
    width: 240px;
    height: 70px;
    position: relative;
    top:14px;
    left: 110px;
}
#main{
    background-color: #BDFF9A;
    width: 240px;
    height: 70px;
    position: relative;
    top:14px;
    left: 170px;;
}
#oceny{
    background-color: #BDFF9A;
    width: 240px;
    height: 70px;
    position: relative;
    top:14px;
    left: 250px;;
}
#WyborLekcji{
text-align: center;
background-color:beige;
color:#233d0f;
font-size: 150%;
height: 50px;
}