* {
    margin: 0;
    padding: 0;
    font-size: 110%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #e0f7fa;
}
.main {
    background-color: #DEFFE4;
    width: 58.69993333333332%;
    height: 100vh;
    float: left;
    text-align: center;
}

.nav {
    background-color: #3E6A1C;
    width: 100%;
    height: 107px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav button {
    margin: 5px;
    background-color: #BDFF9A;
    width: 240px;
    height: 70px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px #999;
}

.nav button:active {
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

#WyborLekcji {
    margin: 10px;
    padding: 5px;
    font-size: 1em;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    border: 1px solid #00796b;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #004d40;
    color: white;
}

tr:nth-child(even) {
    background-color: #b2dfdb;
}

tr:nth-child(odd) {
    background-color: #e0f2f1;
}